.cart-display{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;
    margin-bottom: 4rem;
}
.cart-card-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem;
}
.payment-article{
    padding:1rem;
    background-color: var(--ecom-bg-light);
}
