:root{
    --ecom-bg-dark : #d6d3d1;
    --ecom-bg-light: rgb(238, 238, 238, 1);
    --ecom-shadow: 0 3px 6px #00000029;
    --ecom-btn-text-color: #111827;
}
button{
    background-color: transparent;
}
.ecom-width{
    width: 4rem;
}
.flex-center-row{
    display: flex;
    align-items: center;
}
.logo-txt{
    font-size: 1.2rem;
}
.top-right{
    top: -15px;
}
.nav-bar{
    padding: 0 2.5rem;
    background-color: white;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.nav-pd{
    padding: 1.2rem 2.5rem;
}
.footer-pd{
    padding: 3rem 0;
}
.height-section{
    min-height: 50vh;
}
.ecom-width100{
    width: 100%;
}
.row{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.banner-text > .btn{
    background-color: black;
    color: white;
}
.banner-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.small-img{
    width: 10rem;
}
.justify-center{
    justify-content: center;
}
.large-img{
    width: 20rem;
}
.justify-spacebtw{
    justify-content: space-between;
}
.pd-hori-lg{
    padding: 2rem 3rem;
}
.auth-card{
    width: fit-content;
    background-color: var(--ecom-bg-dark);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--ecom-shadow);
}
.icons{
    background-color: var(--ecom-bg-light);
}
@media only screen and (max-width: 800px) {
    
    .hide-responsive{
        display: none;
    }
}